
.raleway-font{
  font-family: "Raleway";
 
  }




body{
    background-color:rgba(135, 135, 154, 0.1) ;
    margin: 0;
}




/* header section */
.heading{
    background-image: url('../Assets/Hero-bg.png');
height: 500px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

nav h1 {
    font-weight: 900;
    color: #4E47FF;
}
.btn{
    height: 30px;
    width: 100px;
    background-color: #4E47FF;
    border: none;
    color:white;
    border-radius: 5px;
    font-size: 12px;
   
}
.btn:hover{
    background-color:burlywood;
    color: black;
    transform: scale(1.2);
    transition: 2s;
 
}
.heading-banner{
    width: 700px;
    text-align: center;
    margin: 100px auto 0;
}
#article{
    font-size: 50px;
    font-weight: 600;
}




/* banner section */


/* articel1 */

.banner{
    max-width: 1140px;
    margin:100px auto;
}

.banner-1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.banner-text{
   width: 350px;
}
.banner img{
  width: 350px;
    border-radius: 40px;
}


/* article-2 */

.user-range{
    background-color:rgba(78, 71, 255, 0.1);
   margin:100px auto;
    text-align: center;
   padding: 40px;
   height: 200px;
width: 880px;
   border-radius: 15px;
}

.percenties{
    display: flex;
    justify-content: center;
    gap: 120px;
    line-height: 10px;
}
.number{
    font-size: 60px;
    font-weight: 800;
    font-family: "inter";
     color: #4E47FF;
}

/* article-3 */

.card-section{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 20px;
}




.findings{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}


.card img{
    width: 12px;
    height: 12px;
   
}

.card{
    background-color: rgba(255, 255, 255, 0.5);
width: 250px;
height: 150px;
padding: 20px;
border-radius: 5px;

}
.avatar img {
    width: 30px;
    height: 30px;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}



.avater-text{
    font-size: 10px;
    color: rgba(117, 117, 117, 1);
    line-height: 5px;
    font-family:"Ag Body Strong";
}



/* info. section */


.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
  padding: 0 230px;
margin-bottom: 90px;
}

.form input[type="email"] ,input[type="text"] , textarea{
    height: 20px;
    width: 300px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    
}

.info-text{
    font-size: 70px;
    font-weight: bold;
    
}

.info button{
width: 340px;
}

.btn-2{
    height: 30px;
    width: 100px;
    background-color: #4E47FF;
    border: none;
    color:white;
    border-radius: 5px;
    font-size: 12px;
   
}
.btn-2:hover{
    background-color:burlywood;
    color: black;
    transform: scale(0.9);
    transition: 2s;
 
}




/* footer */
.footer{
    background-color:rgba(255, 255, 255, 1);
   height: 350px; 
 
}
.footer-heading{
    font-weight:900;
    font-size: 70px;
    color: #4E47FF;
    line-height: 20px;
}
.text{
   text-align: center;
    width: 500px;
     margin: auto;
     padding-top: 40px;
     
}

.link{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;

}

.link li a{
    text-decoration: none;
    
}